.icon {
  height: 2rem;
}

.button {
  background-color: var(--color-accent);
  color: white;
  padding: 0.75rem var(--space);
  border: none;
  cursor: pointer;
  letter-spacing: 0rem;
  border-radius: var(--space);
  display: inline-block;
}

.eyebrow {
  margin-bottom: 0;
}
