---
import Layout from '@layouts/Layout.astro';
import '@styles/global.css'
import { Image } from 'astro:assets';
import images from '@data/images.js';
const properties = {
	title: 'Portafolio',
	url: '/',
	images,
}
const {
	title,
	url,
} = properties;
---

<Layout title={title} url={url}>
	<main>
		{images.map((image) => (
			<Image src={image.src} alt={image.alt} height={600} />
		))}
	</main>
</Layout>
<style>
	main {
		text-align: center;
	}
	img {
		margin-bottom: 1.5rem;
	}
	@media screen and (min-width: 828px) {
		img {
			margin-right: 1.5rem;
			max-height: 21rem;
			width: auto;
		}
	}
</style>
