---
---
<footer>
  <ul class="contact-links-list">
    <li>
      <a href="https://www.instagram.com/crisleonilustracion/" class="contact-link">
        <img class="icon" src="/icons/instagram.svg" alt="Instagram">
      </a>
    </li>
    <li>
      <a href="mailto:leon.cristina@gmail.com" class="contact-link">
        <img class="icon" src="/icons/email.svg" alt="Email">
      </a>
    </li>
  </ul>
</footer>
<style>
  li {
    margin-right: 1.5rem;
  }
</style>