:root {
  --color-accent: #09574f;
  --color-accent-light: rgba(255, 255, 255, 0.3);
  --color-black: black;
  --color-light: #fafbf4;
  --opacity-low: 0.2;
  --opacity-medium: 0.6;
  --opacity-high: 0.8;
  --opacity-full: 1;
  --space: 1.5rem;
  --space-half: calc(0.5 * var(--space));
  --space-2: calc(2 * var(--space));
  --text-max-width: 31rem;
}
