:root {
  --color-accent: #3e827c;
  --color-accent-light: rgba(255, 255, 255, 0.5);
  --color-black: black;
  --color-light: #eef0e1;
  --opacity-low: 0.2;
  --opacity-medium: 0.5;
  --opacity-high: 0.7;
  --space: 1.5rem;
  --space-2: calc(2 * var(--space));
  --text-max-width: 31rem;
}
